{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/finance.css" media="screen" >
{% endblock %}

{% block header %}
{{ parent() }}
<div class="financeheader center">
      <div class="container-fluid center-block">
        <div class="row">
          <div class="col-md-12">
            <h1>Enterprise-ready Security</h1>
            <h3>Confidently build and deploy apps on a secure, reliable, and highly-available platform.</h3>
              <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
                  role="button">DEMANDER DEMO</a>
          </div>
        </div>
      </div>
</div>

{% endblock %}
{% block body %}
{% spaceless %}


      <br/> <br/> <br/>
      <p class="text-center sub-title">Lorem ipsum dolor sit amet,<span class="text-primary">consectetur adipisicing</span> elit.<br/> Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>

      <section class="wrapper">
          <div class="container-big">
              <div class="content">
                  <div class="container">
                      <div class="row">
                        <div class="col-xs-6 col-sm-2">
                        </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="carbox">
                                  <a class="img-carbox" href="www.softools.net">
                                  <img src="https://iz.zohostatic.com/sites/default/files/business-feature-banner-2x.png">
                                </a>
                                  <div class="carbox-content">
                                      <h4 class="carbox-title text-center">
                                          Manufacturing Asset Management
                                        </a>
                                      </h4>
                                      <div class="carbox-read-more">
                                          <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                              Read More>>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="carbox">
                                  <a class="img-carbox" href="www.softools.net">
                                  <img src="https://iz.zohostatic.com/sites/default/files/business-feature-banner-2x.png">
                                </a>
                                  <div class="carbox-content">
                                      <h4 class="carbox-title text-center">
                                          Facilities Asset </br> Management
                                        </a>
                                      </h4>
                                  </div>
                                  <div class="carbox-read-more">
                                      <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                          Read More >>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-2">
                          </div>
                        </div>
                        <br><br>
                        <div class="row">
                          <div class="col-xs-12 col-sm-4">
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="carbox">
                                  <a class="img-carbox" href="https::/www.softools.net">
                                  <img src="https://iz.zohostatic.com/sites/default/files/business-feature-banner-2x.png">
                                </a>
                                  <div class="carbox-content">
                                      <h4 class="carbox-title text-center">
                                          IT Asset Management
                                        </a>
                                      </h4>
                                  </div>
                                  <div class="carbox-read-more">
                                      <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                          Read More>>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                          </div>
                      </div>
                      <br><br>
                      <div class="row">
                        <div class="col-xs-6 col-sm-2">
                        </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="carbox">
                                  <a class="img-carbox" href="www.softools.net">
                                  <img src="https://iz.zohostatic.com/sites/default/files/business-feature-banner-2x.png">
                                </a>
                                  <div class="carbox-content">
                                      <h4 class="carbox-title text-center">
                                          Manufacturing Asset Management
                                        </a>
                                      </h4>
                                      <div class="carbox-read-more">
                                          <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                              Read More>>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-4">
                              <div class="carbox">
                                  <a class="img-carbox" href="www.softools.net">
                                  <img src="https://iz.zohostatic.com/sites/default/files/business-feature-banner-2x.png">
                                </a>
                                  <div class="carbox-content">
                                      <h4 class="carbox-title text-center">
                                          Facilities Asset </br> Management
                                        </a>
                                      </h4>
                                  </div>
                                  <div class="carbox-read-more">
                                      <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                          Read More >>
                                      </a>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xs-6 col-sm-2">
                          </div>
                        </div>
                  </div>
              </div>
          </div>
      </section>


</br></br>
<div class="container">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
  </div>
</div>


<div container="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Improve your team's productivity.</h2>
      <p>Empower your customer service reps with fast access to a cloud-based client database.
       Software solutions from Quick Base offer a simple way to find information and give
       consistent answers to your customers every time. Enable faster problem resolution with
       an easy-to-use knowledge base. Optimize customer service management by allowing customers
        to open and track service requests and reps the opportunity to update customer information.
        Software like this can contribute to creating a more collaborative environment and make every
         stakeholder more proactive, solving problems quickly and efficiently.</p>

         <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
             role="button">Je me lance!</a>
    </div>
    <div class="col-md-6">
      <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/t/5880e757e6f2e15d650da0c4/1532356432823/businessrefresh.jpg?format=750w">
    </div>

  </div>
</div>
<br><br><br>
<div  class="section2 space--sm">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 text-center">
        <h2>Improve your team's productivity.</h2>
        <p>Empower your customer service reps with fast access to a cloud-based client database.
         Software solutions from Quick Base offer a simple way to find information and give
         consistent answers to your customers every time. Enable faster problem resolution with
         an easy-to-use knowledge base. Optimize customer service management by allowing customers
          to open and track service requests and reps the opportunity to update customer information.
          Software like this can contribute to creating a more collaborative environment and make every
           stakeholder more proactive, solving problems quickly and efficiently.</p>
           <a href="{{ path('solution1') }}" class="btn btn-action centred  btn-lg btn-twt"
               role="button"></a>
      </div>
      <div class="col-md-2">

      </div>
    </div>
</div>
<br><br><br>
<div container="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Improve your team's productivity.</h2>
      <p>Empower your customer service reps with fast access to a cloud-based client database.
       Software solutions from Quick Base offer a simple way to find information and give
       consistent answers to your customers every time. Enable faster problem resolution with
       an easy-to-use knowledge base. Optimize customer service management by allowing customers
        to open and track service requests and reps the opportunity to update customer information.
        Software like this can contribute to creating a more collaborative environment and make every
         stakeholder more proactive, solving problems quickly and efficiently.</p>

         <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
             role="button">Je me lance!</a>
    </div>
    <div class="col-md-6">
      <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/t/5880e757e6f2e15d650da0c4/1532356432823/businessrefresh.jpg?format=750w">
    </div>

  </div>
</div>
{% endspaceless %}
{{ parent() }}
<script>
{% block javascript %}
  jQuery(function() {
    jQuery(".carbox").hover(function() {
        $(".carbox-read-more").removeClass('hidden');
    });
  });

</script>
{% endblock %}
{% endblock %}
