{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/finance.css" media="screen" >

{% endblock %}

{% block header %}
{{ parent() }}
<div class="financeheader">
      <div class="container-fluid">
            <h1>Enterprise-ready Security</h1>
            <h3>Confidently build and deploy apps on a secure, reliable, and highly-available platform.</h3>
      </div>
</div>



{% endblock %}
{% block body %}

<br><br>
<div container="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="img_description" src="https://www.quickbase.com/uploads/panel/New-Product-Screens/dashboard_helpdesk_customersuccess.png">
    </div>
    <div class="col-md-6">
      <h2>Improve your team's productivity.</h2>
      <p>Eliminate the high costs, inefficiencies and risks associated with email and spreadsheet-based asset management.
         Learn how Quick Base empowers you to view asset status, submit a work order,
         notify stakeholders, and gain a real-time view of downtime impact from any device..</p>

         <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
             role="button">Je me lance!</a>
    </div>
  </div>
</div>

<br><br> <br><br>
<div container="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2>Improve your team's productivity.</h2>
      <p>Replace error-prone email, phone calls, and spreadsheet-based asset management or improve those clunky, outdated legacy systems with a single source of truth that you can configure in days, update in seconds and access anytime, anywhere, from any device.</p>

<p>Increase operational performance, asset utilization, deliver great customer service, improve safety, and more effectively manage budgets by tracking inventory, contracts, leases, agreements, equipment condition, scheduled maintenance, safety records, training, budgets, and purchase orders in one place. </p>

         <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
             role="button">Je me lance!</a>
    </div>
    <div class="col-md-6">
      <img class="img_description" src="https://www.quickbase.com/uploads/panel/1806_ProductShot_ManufAssetMgmt_1.png">
    </div>
  </div>
</div>
<br><br> <br><br>
<div container="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="img_description" src="https://www.quickbase.com/uploads/panel/New-Product-Screens/dashboard_helpdesk_customersuccess.png">
    </div>
    <div class="col-md-6">
      <h2>Improve your team's productivity.</h2>
      <p>Empower your customer service reps with fast access to a cloud-based client database.
       Software solutions from Quick Base offer a simple way to find information and give
       consistent answers to your customers every time. Enable faster problem resolution with
       an easy-to-use knowledge base. Optimize customer service management by allowing customers
        to open and track service requests and reps the opportunity to update customer information.
        Software like this can contribute to creating a more collaborative environment and make every
         stakeholder more proactive, solving problems quickly and efficiently.</p>

         <a href="{{ path('solution1') }}" class="btn btn-action btn-lg thar-video"
             role="button">Je me lance!</a>
    </div>
  </div>
</div>
<!-- other applications -->
<br><br><br><br>
<section class="wrapper">
    <div class="container-big">
        <div class="content">
            <div class="container">
              <h2 class="text-center sub-title">A single solution that streamlines HR.</p></h2>
                <div class="row">

                    <div class="col-xs-12 col-sm-4">
                        <div class="carbox">
                            <a class="img-carbox" href="{{ path('solution1') }}">
                            <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                          </a>
                            <div class="carbox-content">
                                <h4 class="carbox-title text-center">
                                    Manufacturing Asset <br>Management
                                  </a>
                                </h4>
                                <div class="carbox-read-more">
                                    <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                                        Read More>>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="carbox">
                            <a class="img-carbox" href="www.softools.net">
                            <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                          </a>
                            <div class="carbox-content">
                                <h4 class="carbox-title text-center">
                                    Facilities Asset </br> Management
                                  </a>
                                </h4>
                            </div>
                            <div class="carbox-read-more">
                                <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                    Read More >>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="carbox">
                            <a class="img-carbox" href="www.softools.net">
                            <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                          </a>
                            <div class="carbox-content">
                                <h4 class="carbox-title text-center">
                                    Facilities Asset </br> Management
                                  </a>
                                </h4>
                            </div>
                            <div class="carbox-read-more">
                                <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                    Read More >>
                                </a>
                            </div>
                        </div>
                    </div>
                  </div>
                      <br><br>
                  <div class="row">

                      <div class="col-xs-12 col-sm-4">
                          <div class="carbox">
                              <a class="img-carbox" href="{{ path('solution1') }}">
                              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                            </a>
                              <div class="carbox-content">
                                  <h4 class="carbox-title text-center">
                                      Manufacturing Asset <br>Management
                                    </a>
                                  </h4>
                                  <div class="carbox-read-more">
                                      <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                                          Read More>>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                          <div class="carbox">
                              <a class="img-carbox" href="www.softools.net">
                              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                            </a>
                              <div class="carbox-content">
                                  <h4 class="carbox-title text-center">
                                      Facilities Asset </br> Management
                                    </a>
                                  </h4>
                              </div>
                              <div class="carbox-read-more">
                                  <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                      Read More >>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                          <div class="carbox">
                              <a class="img-carbox" href="www.softools.net">
                              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                            </a>
                              <div class="carbox-content">
                                  <h4 class="carbox-title text-center">
                                      Facilities Asset </br> Management
                                    </a>
                                  </h4>
                              </div>
                              <div class="carbox-read-more">
                                  <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                      Read More >>
                                  </a>
                              </div>
                          </div>
                      </div>

                    </div>

                  <br><br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="carbox">
                            <a class="img-carbox" href="https::/www.softools.net">
                            <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                          </a>
                            <div class="carbox-content">
                                <h4 class="carbox-title text-center">
                                    IT Asset<br> Management
                                  </a>
                                </h4>
                            </div>
                            <div class="carbox-read-more">
                                <a href="http://www.softools.net/" class="btn btn-link btn-block">
                                    Read More>>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</section>

<!-- Témoignage -->
<!--
	use the left and right arrow keys on your keyboard or just swipe left and right on your smart phone to interact with the slider
-->

</br></br>
<hr color="blue">
</br></br>
<div class="container">
    <div class="col-md-3">
    </div>

		<div class="col-md-6">
        <h4><strong>See what customers say.</strong></h4>
        <div class="seprator"></div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="http://demos1.showcasedemos.in/jntuicem2017/html/v1/assets/images/jack.jpg" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong>Jack Andreson</strong></h4>
                        <p class="testimonial_subtitle"><span>Chlinical Chemistry Technologist</span><br>
                        <span>Officeal All Star Cafe</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
               <div class="item">
                   <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="http://demos1.showcasedemos.in/jntuicem2017/html/v1/assets/images/kiara.jpg" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong>Kiara Andreson</strong></h4>
                        <p class="testimonial_subtitle"><span>Chlinical Chemistry Technologist</span><br>
                        <span>Officeal All Star Cafe</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="controls testimonial_control pull-right">
                <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic"
                  data-slide="prev"> </a>

                <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic"
                  data-slide="next"> </a>
              </div>
        </div>
        <div class="col-md-3">
        </div>
	</div>
</div>

<br>
<br>
<div class='container vd'>

<div class="row ">

    </div>

  </div>
</div>
  </div>
  <br><br><br><br><br><br>


{% block javascripts %}
{{ parent() }}


 <script>


 </script>
{% endblock %}
{% endblock %}
