{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
   <link rel="stylesheet" href="assets/css/finance.css" media="screen" >
    <link rel="stylesheet" href="assets/css/store.css" media="screen" >

    <!-- https://codepen.io/rayrutjes/pen/LyKpzq-->
{% endblock %}

{% block header %}
{{ parent() }}
<div class="financeheader">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h1>Enterprise-ready Security</h1>
            <h3>Confidently build and deploy apps on a secure, reliable, and highly-available platform.</h3>
          </div>
        </div>
      </div>
</div>


{% endblock %}
{% block body %}

<br> <br>
<h2>Softools France App Store</h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button class="btn" onclick="filterSelection('cars')"> Cars</button>
  <button class="btn" onclick="filterSelection('animals')"> Animals</button>
  <button class="btn" onclick="filterSelection('fruits')"> Fruits</button>
  <button class="btn" onclick="filterSelection('colors')"> Colors</button>
</div>
<br> <br>
<div class="container-fluid text-center centered">
  <div class="centered">
  <div class="carbox filterDiv cars">BMW
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class=" carbox filterDiv colors fruits">Orange
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv cars">Volvo
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>

  <div class="carbox filterDiv colors">Red
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv cars animals">Mustang
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv colors">Blue
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class=" carbox filterDiv animals">Cat
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>

  <div class="carbox filterDiv animals">Dog
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv fruits">Melon
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv fruits animals">Kiwi
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv fruits">Banana
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv fruits">Lemon
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
  <div class="carbox filterDiv animals">Cow
    <a class="img-carbox" href="{{ path('solution1') }}">
    <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
    <div class="carbox-content">
        <h4 class="carbox-title text-center">
            Manufacturing Asset <br>Management
          </a>
        </h4>
        <div class="carbox-read-more">
            <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                Read More>>
            </a>
        </div>
    </div>
  </div>
</div>
</div>
</br>
<!-- second proposition -->
<!--main content section-->
<section class="mb-5">
    <div class="container">
    <div class="row title py-3">
        <div class="col-md-12">
            <h5><strong>Filter Search Result</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <strong><p>Métier</p></strong>
                          <ul class="list-unstyled">
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" checked/>
                              <label for="checkbox5">Fifth Option warning</label>
                            </div>
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5"/>
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <strong><p>Secteur</p></strong>
                          <ul class="list-unstyled">
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5"/>
                              <label for="checkbox5">Finance</label>
                            </div>
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">DRH</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Achat</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Manufacturing</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Achat</label>
                            </div>
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Ventes et CRM</label>
                            </div>
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">IT</label>
                            </div>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <strong><p>Process</p></strong>
                          <ul class="list-unstyled">
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div>
                            <div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div><div class="funkyradio-warning">
                              <input type="checkbox" name="checkbox" id="checkbox5" />
                              <label for="checkbox5">Fifth Option warning</label>
                            </div>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <button type="button" class="btn btn-outline bg-orange btn-block">Demo</button></button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mb-3">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-body">
                          <button type="button" class="btn btn-outline bg-orange btn-block">Contat Now</button></button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row mb-3 text-center">
            <div class="col-md-3 carbox filterDiv animals">Cat
              <a class="img-carbox" href="{{ path('solution1') }}">
              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
              <div class="carbox-content">
                  <h4 class="carbox-title text-center">
                      Manufacturing Asset <br>Management
                    </a>
                  </h4>
                  <div class="carbox-read-more">
                      <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                          Read More>>
                      </a>
                  </div>
              </div>
            </div>
            <div class="col-md-3 carbox filterDiv animals">Cat
              <a class="img-carbox" href="{{ path('solution1') }}">
              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
              <div class="carbox-content">
                  <h4 class="carbox-title text-center">
                      Manufacturing Asset <br>Management
                    </a>
                  </h4>
                  <div class="carbox-read-more">
                      <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                          Read More>>
                      </a>
                  </div>
              </div>
            </div>
            <div class="col-md-3 carbox filterDiv animals">Cat
              <a class="img-carbox" href="{{ path('solution1') }}">
              <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
              <div class="carbox-content">
                  <h4 class="carbox-title text-center">
                      Manufacturing Asset <br>Management
                    </a>
                  </h4>
                  <div class="carbox-read-more">
                      <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                          Read More>>
                      </a>
                  </div>
              </div>
            </div>

          </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <!-- second line -->
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>
            <div class="row mb-3 text-center">
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>
              <div class="col-md-3 carbox filterDiv animals">Cat
                <a class="img-carbox" href="{{ path('solution1') }}">
                <img src="https://static1.squarespace.com/static/584ef3529f7456bbff636f52/584ef481f7e0ab56e9725ed3/59bd6a9759cc686ce909f342/1505585815768/Management-14.png?format=500w">
                <div class="carbox-content">
                    <h4 class="carbox-title text-center">
                        Manufacturing Asset <br>Management
                      </a>
                    </h4>
                    <div class="carbox-read-more">
                        <a href="{{ path('solution1') }}" class="btn btn-link btn-block">
                            Read More>>
                        </a>
                    </div>
                </div>
              </div>

            </div>

        </div>
    </div>
</div>
</section>

<div class="container green">
  <video class="container z-depth-3 rounded block-example border border-dark" class="green" width="400" controls>
    <source src="https://player.vimeo.com/external/304803118.sd.mp4?s=3d0e26d216473117258b6ded44f044d1726a05e2&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
    <source src="mov_bbb.ogg" type="video/ogg">
    Your browser does not support HTML5 video.
    <img class="video-on-screen-monitor" src="https://test.inescrm.fr/images/video-on-screen-05.png" alt="desktop mac outer image no screen">
  </video>
</div>

<p>
Video courtesy of
<a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.
</p>


<section id="wrapper">
	<div class="videoContainer">
    <video id="myVideo" controls preload="auto" poster="http://www.dvdtalk.com/reviews/images/reviews/103/1298232793_3.jpg" width="380" >
      <source src="https://player.vimeo.com/external/304803118.sd.mp4?s=3d0e26d216473117258b6ded44f044d1726a05e2&profile_id=164&oauth2_token_id=57447761" type="video/mp4" />
		  <p>Your browser does not support the video tag.</p>
		</video>
		<div class="caption">Patrice O'Neal: Harassment Day</div>
		<div class="control">
			<div class="btmControl">
				<div class="btnPlay btn" title="Play/Pause video"><span class="icon-play"></span></div>
				<div class="progress-bar">
					<div class="progress">
						<span class="bufferBar"></span>
						<span class="timeBar"></span>
					</div>
				</div
			</div>
		</div>
	</div>
</div>
</section>
<br><br>
<video class="responsive-video" controls>
    <source src="https://player.vimeo.com/external/304803118.sd.mp4?s=3d0e26d216473117258b6ded44f044d1726a05e2&profile_id=164&oauth2_token_id=57447761" type="video/mp4">
  </video>





  <!-- Button trigger modal-->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalVM">Launch modal</button>

  <!--Modal: modalVM-->
  <div class="modal fade" id="modalVM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

      <!--Content-->
      <div class="modal-content">

        <!--Body-->
        <div class="modal-body mb-0 p-0">

          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/115098447" allowfullscreen></iframe>
          </div>

        </div>

        <!--Footer-->
        <div class="modal-footer justify-content-center flex-column flex-md-row">
          <span class="mr-4">Spread the word!</span>
          <div>
            <a type="button" class="btn-floating btn-sm btn-fb">
              <i class="fab fa-facebook-f"></i>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-sm btn-tw">
              <i class="fab fa-twitter"></i>
            </a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-sm btn-gplus">
              <i class="fab fa-google-plus-g"></i>
            </a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-sm btn-ins">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

        </div>

      </div>
      <!--/.Content-->

    </div>
  </div>
  <!--Modal: modalVM-->

<!--Modal: modalVM-->



































































<!--Content-->
<div class="modal-content">

  <!--Body-->
  <div class="modal-body mb-0 p-0">

    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/B_q-hF91Vho"
        allowfullscreen></iframe>
    </div>

  </div>

  <!--Footer-->
  <div class="modal-footer justify-content-center">
    <span class="mr-4">SoftoolsFrance</span>
    <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
    <!--Twitter-->
    <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
    <!--Google +-->
    <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
    <!--Linkedin-->
    <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

    <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

  </div>

</div>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">

    <!--Modal: Name-->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/external/304803118.sd.mp4?s=3d0e26d216473117258b6ded44f044d1726a05e2&profile_id=164&oauth2_token_id=57447761"
                allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">Spread the word!</span>
            <a type="button" href="https://www.facebook.com/zernenou.billal.5" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video"
        data-toggle="modal" data-target="#modal1"></a>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Modal: Name-->
    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs"
                allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">Spread the word!</span>
            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg" alt="video"
        data-toggle="modal" data-target="#modal6"></a>

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-4">

    <!--Modal: Name-->
    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">

          <!--Body-->
          <div class="modal-body mb-0 p-0">

            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM"
                allowfullscreen></iframe>
            </div>

          </div>

          <!--Footer-->
          <div class="modal-footer justify-content-center">
            <span class="mr-4">Spread the word!</span>
            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

          </div>

        </div>
        <!--/.Content-->

      </div>
    </div>
    <!--Modal: Name-->

    <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg" alt="video"
        data-toggle="modal" data-target="#modal4"></a>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
{% block javascripts %}
{{ parent() }}
<script>

</script>
<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>


{% endblock %}
{% endblock %}
