<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block metadescription %}
            <meta name="description"  content=""  />
        {% endblock %}


        {% block stylesheets %}
        <link rel="shortcut icon" href="assets/images/0.png">

        <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- Custom styles for our site -->
        <link rel="stylesheet" href="assets/css/bootsnav.css" media="screen" >
        <link rel="stylesheet" href="assets/css/navbar_style.css" media="screen" >
        <link rel="stylesheet" href="assets/css/index.css" media="screen" >
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

            {% block header %}
                  <!-- Start Navigation -->

                <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav">
                   <!-- Start Top Search -->
                   <div class="top-search">
                       <div class="container">
                           <div class="input-group">
                               <span class="input-group-addon"><i class="fa fa-search"></i></span>
                               <input type="text" class="form-control" placeholder="Search">
                               <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                           </div>d
                       </div>
                   </div>
                   <!-- End Top Search -->

                   <div class="container">
                       <!-- Start Atribute Navigation -->
                       <div class="attr-nav">
                           <ul>
                               <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                               <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                               <li class="nav-item dropdown">
                                   <a class="nav-link dropdown-toggle" href="base" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-fr"> </span>  Français</a>
                                   <div class="dropdown-menu" aria-labelledby="dropdown09">
                                       <a class="dropdown-item" href="{{ path('baseen') }}"><span class="flag-icon flag-icon-us"> </span> English</a>
                                   </div>
                               </li>
                           </ul>
                       </div>
                       <!-- End Atribute Navigation -->

                       <!-- Start Header Navigation -->
                       <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                               <i class="fa fa-bars"></i>
                           </button>
                           <a class="navbar-brand" href="{{ path('base') }}"><img src="assets/images/logo.png" class="logo" alt=""></a>
                       </div>
                       <!-- End Header Navigation -->

                       <!-- Collect the nav links, forms, and other content for toggling -->
                       <div class="collapse navbar-collapse" id="navbar-menu">
                           <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                               <li class="dropdown">
                                   <a href="{{ path('presentation') }}" class="dropdown-toggle" data-toggle="dropdown" >Platforme</a>
                                   <ul class="dropdown-menu">
                                       <li><a href="{{ path('presentation') }}">Présentation</a></li>
                                       <li><a href="#">Zéro-Code</a></li>
                                       <li class="dropdown">
                                           <a href="{{ path('personalisable') }}" class="dropdown-toggle" data-toggle="dropdown">Personalisable</a>
                                           <ul class="dropdown-menu">
                                               <li><a href="#">Custom Menu</a></li>
                                               <li><a href="#">Custom Menu</a></li>
                                               <li class="dropdown">
                                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Sub Menu</a>
                                                   <ul class="dropdown-menu">
                                                       <li><a href="#">Custom Menu</a></li>
                                                       <li><a href="#">Custom Menu</a></li>
                                                       <li><a href="#">Custom Menu</a></li>
                                                       <li><a href="#">Custom Menu</a></li>
                                                   </ul>
                                               </li>
                                               <li><a href="#">Custom Menu</a></li>
                                           </ul>
                                       </li>
                                       <li><a href="#">Progressive-web-app(PWA)</a></li>
                                       <li><a href="#">Interfaçable</a></li>
                                       <li><a href="{{ path('security') }}">Environnement Sécurisé</a></li>
                                       <li><a href="{{ path('pricing') }}">Tarifs</a></li>
                                   </ul>
                               </li>
                               <li class="dropdown megamenu-fw">
                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions</a>
                                   <ul class="dropdown-menu megamenu-content" role="menu">
                                       <li>
                                           <div class="row">
                                               <div class="col-menu col-md-3">
                                                   <h6 class="title">Métier</h6>
                                                   <div class="content">
                                                       <ul class="menu-col">
                                                           <li><a href="{{ path('finance') }}">Finance</a></li>
                                                           <li><a href="#">DRH</a></li>
                                                           <li><a href="#">Achats</a></li>
                                                           <li><a href="#">Manufacturing</a></li>
                                                           <li><a href="#">Ventes+CRM</a></li>
                                                           <li><a href="#">I.T</a></li>
                                                       </ul>
                                                   </div>
                                               </div><!-- end col-3 -->
                                               <div class="col-menu col-md-3">
                                                   <h6 class="title">Secteur</h6>
                                                   <div class="content">
                                                       <ul class="menu-col">
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                       </ul>
                                                   </div>
                                               </div><!-- end col-3 -->
                                               <div class="col-menu col-md-3">
                                                   <h6 class="title">Title Menu Three</h6>
                                                   <div class="content">
                                                       <ul class="menu-col">
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                       </ul>
                                                   </div>
                                               </div>
                                               <div class="col-menu col-md-3">
                                                   <h6 class="title">Title Menu Four</h6>
                                                   <div class="content">
                                                       <ul class="menu-col">
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                           <li><a href="#">Custom Menu</a></li>
                                                       </ul>
                                                   </div>
                                               </div><!-- end col-3 -->
                                           </div><!-- end row -->
                                       </li>
                                   </ul>
                               </li>
                               <li><a href="#">Events</a></li>
                               <li><a href="#">App Gallery</a></li>
                               <li><a href="{{ path('contact') }}">Contact</a></li>
                               <li><a class="btn btn-primary" href="{{ path('signin') }}">Sign In</a></li>
                           </ul>
                       </div><!-- /.navbar-collapse -->
                   </div>

                   <!-- Start Side Menu -->
                   <div class="side">
                       <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                       <div class="widget">
                           <h6 class="title">Custom Pages</h6>
                           <ul class="link">
                               <li><a href="#">About</a></li>
                               <li><a href="#">Services</a></li>
                               <li><a href="#">Blog</a></li>
                               <li><a href="#">Portfolio</a></li>
                               <li><a href="#">Contact</a></li>
                           </ul>
                       </div>
                       <div class="widget">
                           <h6 class="title">Additional Links</h6>
                           <ul class="link">
                               <li><a href="#">Retina Homepage</a></li>
                               <li><a href="#">New Page Examples</a></li>
                               <li><a href="#">Parallax Sections</a></li>
                               <li><a href="#">Shortcode Central</a></li>
                               <li><a href="#">Ultimate Font Collection</a></li>
                           </ul>
                       </div>
                   </div>
                   <!-- End Side Menu -->
                </nav>


                      {% block subnav %}{% endblock %}

                  {% endblock %}

                  <div class="container">
                      {% block body %}{% endblock %}
                  </div>
                          {% block footer %}
                              <!-- footer section -->
                              <!--footer starts from here-->
                              <footer class="footer">
                                <div class="container bottom_border">
                                  <div class="row">
                                    <div class="col-md-3">
                                      <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                                      <!--headin5_amrc-->
                                      <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                      <p><i class="fa fa-location-arrow"></i> 12 avenue de avenue 75008 </p>
                                      <p><i class="fa fa-phone"></i>  +33-9999878398  </p>
                                      <p><i class="fa fa fa-envelope"></i> info@example.com  </p>
                                    </div>
                                    <div class="col-md-3">
                                      <h5 class="headin5_amrc col_white_amrc pt2">Solutions</h5>
                                      <!--headin5_amrc-->
                                      <ul class="footer_ul_amrc">
                                        <li><a href="#">Finance</a></li>
                                        <li><a href="#">DRH</a></li>
                                        <li><a href="#">Achats</a></li>
                                        <li><a href="#">Manufacturing</a></li>
                                        <li><a href="#">Ventes+CRM</a></li>
                                        <li><a href="#">I.T</a></li>
                                      </ul>
                                    </div>
                                      <!--footer_ul_amrc ends here-->
                                    <div class="col-md-3">
                                      <h5 class="headin5_amrc col_white_amrc pt2">Support & Community</h5>
                                      <!--headin5_amrc-->
                                      <ul class="footer_ul_amrc">
                                        <li><a href="http://softools.net">Remove Background</a></li>
                                        <li><a href="http://softools.net">Shadows & Mirror Reflection</a></li>
                                        <li><a href="http://softools.net">Logo Design</a></li>
                                        <li><a href="http://softools.net">Vectorization</a></li>
                                        <li><a href="http://softools.net">Hair Masking/Clipping</a></li>
                                        <li><a href="http://softools.net">Image Cropping</a></li>
                                      </ul>
                                    </div>
                                    <!--footer_ul_amrc ends here-->
                                    <div class="col-md-3">
                                      <h5 class="headin5_amrc col_white_amrc pt2">A propos de Softools</h5>
                                      <!--headin5_amrc-->
                                      <ul class="footer_ul_amrc">
                                        <li><a href="#">Leadership Team</a></li>
                                        <li><a href="#">Events</a></li>
                                        <li><a href="#">In the News</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Contact</a></li>
                                      </ul>
                                      <!--footer_ul_amrc ends here-->
                                    </div>
                                  </div>
                                </div>
                                <div class="container">
                                  <ul class="foote_bottom_ul_amrc">
                                    <li><a href="#">Platforme</a></li>
                                    <li><a href="#">Solutions</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">AppGallery</a></li>
                                    <li><a href="#">Contact</a></li>
                                  </ul>
                                  <!--foote_bottom_ul_amrc ends here-->
                                  <p class="text-center">Copyright @2019 | Designed by <a href="#">SOFTOOLS</a></p>
                                  <ul class="social_footer_ul">
                                    <li><a href="http://softools.net"><img src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png"></a></li>
                                    <li><a href="http://softools.net"><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter.png"></a></li>
                                    <li><a href="http://softools.net"><img src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png"></a></li>
                                    <li><a href="http://softools.net"><img src="https://img.icons8.com/ios-glyphs/30/000000/youtube-play.png"></a></li>
                                  </ul>
                                <!--social_footer_ul ends here-->
                                </div>
                              </footer>
                          {% endblock %}


            {% block javascripts %}

                <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
                <script src="assets/js/bootsnav.js"></script>
                <script>
              /*  var videoPlayButton,
                  videoWrapper = document.getElementsByClassName('video-wrapper')[0],
                    video = document.getElementsByTagName('video')[0],
                    videoMethods = {
                        renderVideoPlayButton: function() {
                            if (videoWrapper.contains(video)) {
                        this.formatVideoPlayButton()
                                video.classList.add('has-media-controls-hidden')
                                videoPlayButton = document.getElementsByClassName('video-overlay-play-button')[0]
                                videoPlayButton.addEventListener('click', this.hideVideoPlayButton)
                            }
                        },

                        formatVideoPlayButton: function() {
                            videoWrapper.insertAdjacentHTML('beforeend', '\
                                <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">\
                                    <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"/>\
                                    <polygon points="70, 55 70, 145 145, 100" fill="#fff"/>\
                                </svg>\
                            ')
                        },

                        hideVideoPlayButton: function() {
                            video.play()
                            videoPlayButton.classList.add('is-hidden')
                            video.classList.remove('has-media-controls-hidden')
                            video.setAttribute('controls', 'controls')
                        }
                  }

                videoMethods.renderVideoPlayButton()*/
                </script>
            {% endblock %}
        </body>
    </html>
